<nav class="navbar navbar-default" role="navigation">
    <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
    </ul>
    <ul class="nav navbar-nav">
        <li><a href="/login">Login</a></li>
    </ul>
</nav>
